<!--AÑADIR EL FORM y cambiar las clases de los componentes para que cojan la apariencia-->
<form class="">
	<div id="alert"></div>
	<div class="form-group">
		<label for="txtNombre" class="form-label">Nombre:</label>
		<input type="text" class="text form-control" ng-model="amigo.nombre" data-title="Escribe el nombre" bs-tooltip data-animation="am-flip-x"/>
	</div>
	<div class="form-group">
		<label for="txtNombre" class="form-label">Tlfno:</label>
		<input type="text" class="text form-control" ng-model="amigo.tlfno"/>
	</div>
	<div class="form-group">
			
			<a href="#/amigos" class="btn btn-danger" ng-click="eliminar()">Eliminar</a>
			<a href="#/amigos" class="btn btn-primary">Volver</a>
			<button class="btn btn-primary" data-placement="top-right" data-container="#alert" 
			data-duration="3" bs-alert title="Felicidades!" data-content="Amigo añadido" data-type="success" ng-click="guardar()">Guardar</button>
		
	</div>	
</form>